* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	display: none;
}

#bodyAgregarProductos {
	background-color: var(--rosa);
	color: white;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	min-height: 100vh;
	font-family: 'Rubik', sans-serif;
	overflow-x: hidden;
	position: relative;
}
#bodyAgregarProductos main {
	width: 100%;
	min-height: 100vh;
	font-family: 'Rubik', sans-serif;
}
.linkIndex {
	font-weight: bold;
	font-size: 16px;
	color: white;
	transition: all.3s linear;
	letter-spacing: 1px;
	text-decoration: none;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*Formulario AGREGAR PRODUCTO */
.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	min-width: 300px;
	max-width: 800px;
	height: auto;
	margin: 5rem auto 1rem auto;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.562);
	background-color: #1a376abb;
	backdrop-filter: blur(10px);
}
.form h1 {
	width: 100%;
	text-align: center;
}
.form .labelInput {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.5rem;
	width: 90%;
	position: relative;
}
.inputForm {
	height: 2rem;
	width: 100%;
	border-radius: 0.5rem;
	outline: none;
	border: none;
	padding: 0.5rem;
	transition: all 0.2s linear;
	font-weight: 550;
}
.form .inputForm:hover {
	box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.616);
	transform: scale(1, 1.05);
}
.form .inputFile {
	opacity: 0;
	position: absolute;
	cursor: pointer;
}
.form .preview {
	display: flex;
	min-width: 200px;
	height: 100%;
	border-radius: 0.5rem;
}
.form .preview #preview {
	width: 100%;
	height: auto;
	max-height: 200px;
	border-radius: 0.5rem;
	aspect-ratio: 16/9;
}
.form #labelFIle::after {
	content: 'Cargar Archivo...';
	padding: 0.5rem;
	text-align: center;
	border-radius: 0.5rem;
	background-color: #ffffff;
	color: #303030;
}
.form .btnForm {
	width: 100%;
	height: 100%;
	background-color: rgba(60, 247, 43, 0.404);
	border: none;
	padding: 1rem 0;
	border-radius: 0.5rem;
	font-weight: bold;
	transition: all.3s linear;
}
.form .btnForm:hover {
	background-color: rgb(60, 247, 43);
	transform: scale(0.98);
}
/*Formulario AGREGAR PRODUCTO */
