* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}
button,
a {
	cursor: pointer;
}
.swal2-input {
	margin: 0.5rem auto;
}
.swal2-popup.swal2-toast .swal2-html-container{
	text-align: center;
	font-family: 'Rubik', sans-serif;
}
#bodyComprarProductos {
	background-color: #303030;
	color: white;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	min-height: 100vh;
	font-family: 'Rubik', sans-serif;
	overflow-x: hidden;
	position: relative;
}
#bodyComprarProductos .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
::-webkit-scrollbar {
	display: none;
}
.container .header {
	width: 100%;
	height: 4rem;
	position: fixed;
	display: flex;
	top: 0;
	z-index: 2;
}
.container .header .navBar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #ffffff;
}
.header .navBar ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #ffffff1e;
	backdrop-filter: blur(10px);
	position: relative;
}
.header .navBar ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: relative;
	height: 100%;
}


.nameUserNav .fa-solid{
	color: #000000;
	cursor: pointer;
	margin: 0 1rem;
	transition: all 0.5s ease;
}
.navBar ul li .eliminarCuenta {
	position: relative;
	bottom: 0;
	color: #000000;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.116);
	width: fit-content;
	border-radius: 0.3rem;
	padding: 0.1rem 0.5rem;
	transition: all 0.3s ease;
}
.navBar ul li .eliminarCuenta:hover {
	background-color: rgba(255, 0, 0, 0.603);
	transform: scale(0.98);
}

.navBar ul li button {
	padding: 0.5rem 1rem;
	background-color: transparent;
	border: none;
	border-radius: 0.5rem;
	font-weight: bold;
	font-size: 12px;
	color: #000000;
	transition: all.3s linear;
	letter-spacing: 1px;
	word-wrap: break-word;
}
.navBar ul li #agregar{
	padding: 0.5rem 0;
	background-color: transparent;
	font-size: 12px;
	border: none;
	border-radius: 0.5rem;
	font-weight: bold;
	color: #000000;
	transition: all.3s linear;
	letter-spacing: 1px;
	word-wrap: break-word;
	text-decoration: none;
	transition: color 0.3s ease;
}
.navBar ul li #agregar:hover {
	text-decoration: underline;
	color: #7019d3a9;
}
.navBar ul li button:hover {
	background-color: rgba(60, 247, 43, 0.404);
	outline: 1px solid #ffffff;
}
.navBar ul li #btnCarrito {
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.buscar {
	width: 100%;
	max-width: 900px;
	margin: 4rem auto 1rem auto;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.buscar label {
	text-transform: uppercase;
	letter-spacing: 0.7rem;
	text-shadow: 0px 0px 4px rgb(5, 5, 5);
	font-weight: bold;
}
.buscar #buscar {
	height: 2rem;
	width: 100%;
	border-radius: 0.5rem;
	outline: none;
	border: none;
	padding: 0.5rem;
	transition: box-shadow 0.2s ease;
	font-weight: 550;
}
.buscar #buscar:hover {
	box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.616);
}
