.swal2-input {
	margin: 0.5rem auto;
}
.swal2-popup.swal2-toast .swal2-html-container {
	text-align: center;
	font-family: 'Rubik', sans-serif;
}
#bodyComprarProductos {
	background-color: var(--rosa);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	min-height: 100vh;
	font-family: 'Rubik', sans-serif;
	overflow-x: hidden;
	position: relative;
}

::-webkit-scrollbar {
	display: none;
}

.buscar {
	width: 100%;
	max-width: 900px;
	margin: 4rem auto 1rem auto;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.buscar label {
	text-transform: uppercase;
	letter-spacing: 0.7rem;
	font-weight: bold;
}
.buscar #buscar {
	height: 2rem;
	width: 100%;
	border-radius: 0.5rem;
	outline: none;
	border: none;
	padding: 0.5rem;
	transition: box-shadow 0.2s ease;
	font-weight: 550;
}
.buscar #buscar:hover {
	box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.616);
}
.Categorías {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.5rem;
	overflow: auto;
}
.botónCerrarCategoría {
	grid-column: 1/4;
}
.btnFiltroCategoría,
.botónCerrarCategoría {
	padding: 0.5rem 1rem;
	background-color: #ffffff;
	border: 1px solid rgba(255, 255, 255, 1);
	border-radius: 1rem;
	transition: background-color 0.2s ease;
}
.btnFiltroCategoría:hover,
.botónCerrarCategoría:hover {
	background-color: transparent;
}
.hidden {
	animation: filtro 1s ease forwards;
}
